.step-one {
  margin-top: 24px;
}

.step-two {
  margin-top: 24px;

  .step-two-alert {
    margin-bottom: 12px;
  }

  .step-two-button {
    margin-right: 12px;
  }
}

.step-three {
  margin-top: 24px;

  .step-three-Description {
    margin: 24px 0px;
  }

  .step-three-button {
    margin-right: 12px;
  }
}

.step-four {
  margin-top: 24px;

  .step-four-Description {
    margin: 24px 0px;
  }

  .step-four-item {
    font-size: 18px;
    font-weight: bold;
  }
  .step-four-item-center {
    font-weight: bold;
    text-align: center;
  }
}