.blood-fat-skeleton {
  margin-top: 24px;
}

.step-one {
  margin-top: 24px;

  .step-one-alert {
    margin-bottom: 12px;
  }

  .step-one-button {
    margin-right: 12px;
  }
}

.step-two {
  margin-top: 24px;

  .step-two-Description {
    margin: 24px 0px;
  }

  .step-two-item {
    font-size: 18px;
    font-weight: bold;
  }

  .step-two-item-center {
    font-weight: bold;
    text-align: center;
  }
}
.step-three {
  margin-top: 24px;

  .step-three-Description {
    margin: 24px 0px;
  }

  .step-three-button {
    margin-right: 12px;
  }
}